uvicorn
fastapi
pydantic-settings>=2.0
supabase
psycopg2-binary
pydantic[email]
SQLAlchemy
python-jose[cryptography]
itsdangerous
openai
segno
Pillow
requests
cairosvg
alembic
python-multipart
redis
resend
apscheduler
stripe